/* Fonts */

@font-face {
  font-family: "Fira Code";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce694_%20Fira%20Code.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce6a1_%20Fira%20Code.woff")
      format("woff");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Emoji";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce6a2_Noto%20Emoji.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce69e_Noto%20Emoji.ttf")
      format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce6a0_Inter.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce693_Inter.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce93b_GeneralSans.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce922_GeneralSans.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce921_GeneralSans.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce93a_GeneralSans.ttf")
      format("truetype");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pacifico";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cee58_pacifico-regular.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cee59_pacifico-regular.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cee5a_pacifico-regular.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cee5b_pacifico-regular.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce630_pacifico-regular.svg")
      format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cee5e_barlow-900.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cee5c_barlow-900.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cee5d_barlow-900.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce64b_barlow-900.svg")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alpino Variable";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf019_Alpino-Variable.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf01b_Alpino-Variable.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf018_Alpino-Variable.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf01a_Alpino-Variable.ttf")
      format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Logic Monoscript";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf170_logic-monoscript-medium.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf184_logic-monoscript-medium.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf181_logic-monoscript-medium.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf187_logic-monoscript-medium.otf")
      format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Logic Monoscript";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf16f_logic-monoscript-light.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf16e_logic-monoscript-light.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf183_logic-monoscript-light.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf182_logic-monoscript-light.otf")
      format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Logic Monoscript";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf169_logic-monoscript-bold.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf16a_logic-monoscript-bold.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf16d_logic-monoscript-bold.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf186_logic-monoscript-bold.otf")
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Logic Monoscript";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf167_logic-monoscript-regular.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf171_logic-monoscript-regular.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf185_logic-monoscript-regular.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf188_logic-monoscript-regular.otf")
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Logic Monoscript";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf166_logic-monoscript-black.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf168_logic-monoscript-black.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf16b_logic-monoscript-black.ttf")
      format("truetype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf16c_logic-monoscript-black.otf")
      format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Supreme";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf011_Supreme.woff2")
      format("woff2"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf013_Supreme.eot")
      format("embedded-opentype"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf214_Supreme.woff")
      format("woff"),
    url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301cf012_Supreme.ttf")
      format("truetype");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Khand";
  src: url("https://cdn.prod.website-files.com/6a09244ce43d4439301ce56f/6a09244ce43d4439301ce91f_khand-variable.ttf")
    format("truetype");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
